[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
boto3 = "*"
dspace-python-client = {git = "https://github.com/mitlibraries/dspace-python-client.git"}
sentry-sdk = "*"
smart-open = "*"

[dev-packages]
black = "*"
moto = {extras = ["s3", "server", "sqs"], version = "*"}
pytest = "*"
coveralls = "*"
requests-mock = "*"
pytest-cov = "*"
pytest-env = "*"
freezegun = "*"
coverage = "*"
ruff = "*"
safety = "*"
pre-commit = "*"
mypy = "*"
types-requests = "*"
boto3-stubs = {extras = ["essential"], version = "*"}
pip-audit = "*"

[requires]
python_version = "3.12"

[scripts]
submitter = "python -c \"from submitter.cli import main; main()\""
