[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
boto3 = "*"
smart-open = "*"
dspace-python-client = {git = "https://github.com/mitlibraries/dspace-python-client.git"}

[dev-packages]
flake8 = "*"
black = "==21.7b0"
isort = "*"
bandit = "*"
moto = {extras = ["s3", "server", "sqs"], version = "*"}
pytest = "*"
coveralls = "*"
requests-mock = "*"
pytest-cov = "*"
pytest-env = "*"
freezegun = "*"

[requires]
python_version = "3.9"

[scripts]
submitter = "python -c \"from submitter.cli import main; main()\""
