[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
boto3 = "*"

[dev-packages]
flake8 = "*"
black = "==21.7b0"
isort = "*"
bandit = "*"
moto = {extras = ["s3", "sqs"], version = "*"}
pytest = "*"
coveralls = "*"

[requires]
python_version = "3.9"

[scripts]
submitter = "python -c \"from submitter.cli import main; main()\""
